

// 排列
.flex__row
  display: flex
  flex-direction: row

.flex__row--between
  display: flex
  justify-content: space-between

.flex__row--center
  display: flex
  justify-content: center

.flex__column
  display: flex
  flex-direction: column

.flex__column--center
  display: flex
  align-items: center

